<div class="cuerpo">
  <div class="cabecera">
    <h1>Listado de facturas</h1>
    <button routerLink="/crear-factura">Contabilizar factura</button>
  </div>
  <table>
    <tr>
      <td>Razón social</td>
      <td>Fecha</td>
      <td>Base imponible</td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let factura of facturas">
      <td>{{factura.nombre}}</td>
      <td>{{factura.fecha}}</td>
      <td>{{factura.base}}</td>
      <td routerLink="/editar-factura/{{factura._id}}">Editar</td>
      <td (click)="eliminarFactura(factura._id)">Eliminar</td>
    </tr>
  </table>
</div>
